<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
         text="back"
         color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <hr><hr>
  <ion-card>
    <img src="assets/duoc.jpg" class="ion-padding" style="background-color:cornsilk;">
  </ion-card>

  <ion-card>
    <ion-card-header style="background-color: darkgray;">
      <ion-card-title style="color:rgb(255, 255, 255); font-weight: bold;">Informacion</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content class="texto">
      De que se trata esta aplicacion?
      <hr><hr>
      Esta Aplicacion fue creada con la necesidad de poder registrar la asistencia. esta aplicacion contiene 4 pages que son un menu de inicio,codigo qr, formulario y informacion
    </ion-card-content>
  </ion-card>

  <ion-card class="siu">
    <img src="assets/qr.png" class="xd">
  </ion-card>

</ion-content>
