<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
     </ion-buttons>
    <ion-title>VivoDuoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header style="background-color: darkgray;">
      <ion-card-subtitle style="color:rgb(255, 255, 255); font-weight: bold;">Bienvenido Esteban Ramirez  </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <hr><hr>
  <ion-card>
    <img src="assets/duoc.jpg" class="ion-padding" style="background-color:rgb(255, 255, 255);">
  </ion-card>

  <ion-card>
    <ion-card-header class="encabezado">
      <ion-card-title>Quienes somos? </ion-card-title>  
    </ion-card-header>
    <ion-card-content class="contenido">
      <p class="parrafo">
        Duoc UC es una Institución Católica de Educación Superior que, participando a la misión evangelizadora de la Iglesia, está al servicio del desarrollo de la sociedad por medio de la formación de personas, técnicos y profesionales, capaces de desplegar un proyecto de vida integral con una impronta ético-cristiana.
      </p>
    </ion-card-content> 
  
  </ion-card>
  <hr><hr>
  <ion-card class="siu">
    <img src="assets/maipu.jpg" class="xd">
  </ion-card>
  <hr><hr>
  <ion-card>
  <ion-card-header class="encabezado">
    <ion-card-title>¿Cuántos años cumple Duoc UC?</ion-card-title>
  </ion-card-header>
  <ion-card-content class="contenido">
    <p class="parrafo" >
      Un 16 de noviembre 1968, se creó el Departamento Universitario Obrero Campesino (Duoc UC), que en sus primeros años recibió a jóvenes y adultos que buscaban mejorar sus condiciones de vida por medio de la formación y capacitación.
    </p>
    <hr>
    <p>
      A 54 años del inicio de nuestra misión, contamos con más de 100 mil estudiantes, 220 mil titulados, 6.500 colaboradores y sus familias  
    </p>
    <p>
      Y hoy celebramos los logros y el compromiso de toda la comunidad educativa en aportar a mejorar la #ExperienciaDuocUC y el desarrollo de la sociedad en general. 
    </p>
  </ion-card-content>
  </ion-card>
  <hr><hr>
  <ion-card class="siu">
    <img src="assets/mesa.jpg" class="xd">
  </ion-card>
  <hr><hr>
</ion-content>
