<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
         text="back"
         color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="encabezado">
      <ion-card-title>Bienvenido al formulario </ion-card-title> 
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content class="contenido">
      <p class="parrafo">
        En el siguiente formulario, tendrás la oportunidad de generar un código QR único que, al ser escaneado, te redirigirá automáticamente al formulario de entrada de datos correspondiente.
      </p>
    </ion-card-content> 
  </ion-card>
  <ion-card>
  <div class="qr-code-container">
    <canvas #qrCodeCanvas width="200" height="200"></canvas>
  </div>
  <div class="login-form">

    <ion-label *ngIf="loginError" color="danger">Credenciales incorrectas</ion-label>
  </div>
  <ion-button expand="full" (click)="generarCodigoQR()">Generar Código QR</ion-button>
</ion-card>
</ion-content>
